@{
    ViewData["Title"] = "Contact";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<section id="banner" class="banner">
    <div class="">

        <div class="banner-logo text-center"
             style="max-height: 100px;">
            <img src="/images/contact.jpg" style="max-height: 450px; width: 100%">
        </div>
        <div class="banner-text text-center">
            <h1 class="White">Healthcare at your desk!!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</section>

<section id="contact" class="section-padding" style="margin-top: 150px">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>Contact us</h2>
                <hr class="botm-line">
            </div>

            <div class="col-md-8 col-sm-8 col-md-offset-2 marb20">
                <div class="">
                    <h4>Please fill out the quick form and we will be in touch with lightening speed..</h4>
                    <div class="space"></div>
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-form">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 30px">
            <div id="SocialProfiles" class="col-md-6">
                <div class="panel-primary container-fluid" style="background-color: white; height: 150px;">
                    <h4 class="text-center">Contact Info</h4>
                    <p>Email:- <a href="mailto:ashish2rathi@gmail.com">ashish2rathi@gmail.com</a><br /></p>

                </div>
            </div>

            <div id="EmailIDs" class="col-md-6 marb20">
                <div class="panel-primary container-fluid" style="background-color: white; height: 150px;">
                    <h4 class="text-center">Follow me</h4>

                    <div class="info-sec">
                        <ul class="social-icon">
                            <li class="bglight-blue">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="bgred">
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li class="bgdark-blue">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li class="bglight-blue">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
