@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="mailto:ashish2rathi@gmail.com">ashish2rathi@gmail.com</a><br />
    <strong>Support:</strong> <a href="mailto:ashish2rathi@outlook.com">ashish2rathi@outlook.com</a>
</address>
