@{
    ViewData["Title"] = "Educational Heirarchy";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: #eee;
        }
    </style>
</head>





<section id="banner" class="banner">
    <div class="">

        <div class="banner-logo text-center"
             style="max-height: 100px;">
            <img src="/images/education.jpg" style="height: 450px; width: 100%">
        </div>
        <div class="banner-text text-center">
            <h1>Qualifications</h1>
            <h4> </h4>
        </div>
    </div>
</section>



<section id="testimonial" class="container-fluid section-padding" style="margin-top: 250px;">
    <div style="margin: 10px;">
        <div class="row">
            <div class="col-md-12 page-header text-center">
                <h3>Timline</h3>
            </div>
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="testi-details">
                    <p>SSC</p>
                </div>
                <div class="testi-info">
                    <h3>2006</h3>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="testi-details">
                    <p>
                        HSC
                    </p>
                </div>
                <div class="testi-info">

                    <h3>2008</h3>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="testi-details">
                    <p>Diploma</p>
                </div>
                <div class="testi-info">

                    <h3>2011</h3>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="testi-details">
                    <p>Graduation</p>
                </div>
                <div class="testi-info">

                    <h3>2014</h3>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="testi-details">
                    <p>Microsoft Certification</p>
                </div>
                <div class="testi-info">

                    <h3>2014</h3>
                </div>
            </div>
            <div class="col-md-1 col-sm-1">
            </div>
        </div>
    </div>
</section>

<hr class="footer-line" />

<section id="about" class="section-padding">
    <div class="container-fluid right">
        <div class="col-md-12 page-header text-center">
            <h3>Details</h3>
        </div>

        <div class="row" style="margin: 0">
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                    <h2 class="lg-line">Microsoft Certification</h2>
                    <hr class="botm-line">
                    <p class="sec-para">Sep 2014.</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div style="visibility: visible; width: 100%" class="col-sm-9">

                    <div>
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="more-features-box-text-description">
                            <h3>Microsoft Technology Associate - Web Developement Fundamentals</h3>
                            <p style="text-align: justify">
                                <h4 style="font-weight: normal">
                                    C#.Net, Asp.Net, Web Developement, SQL Server
                                </h4>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 0">
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                    <h2 class="lg-line">Graduation</h2>
                    <hr class="botm-line">
                    <p class="sec-para">2011-2014</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div style="visibility: visible; width: 100%" class="col-sm-9">

                    <div>
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="more-features-box-text-description">
                            <h3>Bachelor of Engineering</h3>
                            <p style="text-align: justify">
                                <h4 style="font-weight: normal">Stream: Computer Science and Engineering</h4>
                                <h4 style="font-weight: normal">Grades: First Class with Distinction</h4>
                                <h4 style="font-weight: normal">University: University of Mumbai</h4>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 0">
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                    <h2 class="lg-line">Diploma</h2>
                    <hr class="botm-line">
                    <p class="sec-para">2008-2011</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div style="visibility: visible; width: 100%" class="col-sm-9">

                    <div>
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="more-features-box-text-description">
                            <h3>Diploma</h3>
                            <p style="text-align: justify">
                                <h4 style="font-weight: normal">Stream: Computer Engineering</h4>
                                <h4 style="font-weight: normal">Grades: First Class with Distinction</h4>
                                <h4 style="font-weight: normal">Board: State Board of Technical Education</h4>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin: 0">
            <div class="col-md-1 col-sm-1">
            </div>

            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                    <h2 class="lg-line">HSC</h2>
                    <hr class="botm-line">
                    <p class="sec-para">Completed in 2008</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div style="visibility: visible; width: 100%" class="col-sm-9">

                    <div>
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="more-features-box-text-description">
                            <h3>Higher Secondary Certificate</h3>
                            <p style="text-align: justify">
                                <h4 style="font-weight: normal">Stream: Computer Science</h4>
                                <h4 style="font-weight: normal">Grades: First Class</h4>
                                <h4 style="font-weight: normal">Board: Aurangabad Divisional Board</h4>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 0">
            <div class="col-md-1 col-sm-1">
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                    <h2 class="lg-line">SSC</h2>
                    <hr class="botm-line">
                    <p class="sec-para">Completed in 2006</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div style="visibility: visible; width: 100%" class="col-sm-9">

                    <div>
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="more-features-box-text-description">
                            <h3>Secondary School Certificate</h3>
                            <p style="text-align: justify">
                                <h4 style="font-weight: normal">Grades: First Class</h4>
                                <h4 style="font-weight: normal">Board: Aurangabad Divisional Board</h4>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>