@{
    ViewData["Title"] = "Educational Heirarchy";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>





<section id="banner" class="banner">
    <div class="">

        <div class="banner-logo text-center"
             style="max-height: 100px;">
            <img src="/images/education.jpg" style="height: 450px; width: 100%">
        </div>
        <div class="banner-text text-center">
            <h1>Qualifications</h1>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua.</h4>
        </div>
    </div>
</section>



<section id="testimonial" class="container section-padding" style="margin-top: 250px;">
    <div style="margin: 10px;">
        <div class="row">
            <div class="col-md-12 page-header text-center">
                <h3>Timline</h3>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="testi-details">
                    <p>SSC</p>
                </div>
                <div class="testi-info">
                    <h3>2006</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="testi-details">
                    <p>
                        HSC
                    </p>
                </div>
                <div class="testi-info">

                    <h3>2008</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="testi-details">
                    <p>Diploma</p>
                </div>
                <div class="testi-info">

                    <h3>2011</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="testi-details">
                    <p>Graduation</p>
                </div>
                <div class="testi-info">

                    <h3>2014</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="Education" class="section-padding">
    <div>

        <h1 class="page-header text-center">Details</h1>
        <div class="center-block" style="margin-left: 10%; margin-right: 10%;">
            <div class="row schedule-tab" style="margin: 10px;">

                <div class="col-md-3 col-sm-3">
                    <div class="medi-info">
                        <h3>Bachelor of Engineering</h3>
                        <p style="font-size: medium">
                            <b>Duration:</b> 2011-2014
                        </p>
                        <p style="font-size: medium">
                            <b>Stream:</b> Computer Science and Engineering
                        </p>
                        <p style="font-size: medium">
                            <b>Grades:</b> First Class with Distinction
                        </p>
                        <p style="font-size: medium">
                            <b>University:</b> University of Mumbai
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="medi-info">
                        <h3>Diploma</h3>
                        <p style="font-size: medium">
                            <b>Duration:</b> 2008-2011
                        </p>
                        <p style="font-size: medium">
                            <b>Stream:</b> Computer Engineering
                        </p>
                        <p style="font-size: medium">
                            <b>Grades:</b> First Class with Distinction
                        </p>
                        <p style="font-size: medium">
                            <b>Board:</b> State Board of Technical Education
                        </p>

                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="medi-info">
                        <h3>Higher Secondary Certificate</h3>
                        <p style="font-size: medium">
                            <b>Completion Year:</b> 2008
                        </p>
                        <p style="font-size: medium">
                            <b>Stream:</b> Computer Science
                        </p>
                        <p style="font-size: medium">
                            <b>Grades:</b> First Class
                        </p>
                        <p style="font-size: medium">
                            <b>Board:</b> Aurangabad Divisional Board
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="time-info">
                        <h3>Secondary School Certificate</h3>
                        <p style="font-size: medium">
                            <b>Completion Year:</b> 2006
                        </p>
                        <p style="font-size: medium">
                            <b>Grades:</b> First Class
                        </p>
                        <p style="font-size: medium">
                            <b>Board:</b> Aurangabad Divisional Board
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section id="Education" class="section-padding">
    <div class="container">

        <h1 class="page-header text-center">Details</h1>
        <div class="row" style="margin: 10px;">
            <div class="col-md-6 col-sm-6 schedule-tab">
                <div class="time-info">
                    <h3>Bachelor of Engineering</h3>
                    <p style="font-size: medium"><b>Duration:</b> 2011-2014</p>
                    <p style="font-size: medium"><b>Stream:</b> Computer Science and Engineering</p>
                    <p style="font-size: medium"><b>Grades:</b> First Class with Distinction</p>
                    <p style="font-size: medium"><b>University:</b> University of Mumbai</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 10px">
            <div class="col-md-6 col-sm-6"></div>
            <div class="col-md-6 col-sm-6 schedule-tab">
                <div class="time-info">
                    <h3>Diploma</h3>
                    <p style="font-size: medium">
                        <b>Duration:</b> 2008-2011
                    </p>
                    <p style="font-size: medium">
                        <b>Stream:</b> Computer Engineering
                    </p>
                    <p style="font-size: medium">
                        <b>Grades:</b> First Class with Distinction
                    </p>
                    <p style="font-size: medium">
                        <b>Board:</b> State Board of Technical Education
                    </p>

                </div>
            </div>
        </div>


        <div class="row" style="margin: 10px">
            <div>
                <div class="col-md-6 col-sm-6 schedule-tab">
                    <div class="time-info">
                        <h3>Higher Secondary Certificate</h3>
                        <p style="font-size: medium"><b>Completion Year:</b> 2008</p>
                        <p style="font-size: medium"><b>Stream:</b> Computer Science</p>
                        <p style="font-size: medium"><b>Grades:</b> First Class</p>
                        <p style="font-size: medium"><b>Board:</b> Aurangabad Divisional Board</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 10px">
            <div>
                <div class="col-md-6 col-sm-6">

                </div>
                <div class="col-md-6 col-sm-6 schedule-tab">
                    <div class="time-info">
                        <h3>Secondary School Certificate</h3>
                        <p style="font-size: medium"><b>Completion Year:</b> 2006</p>
                        <p style="font-size: medium"><b>Grades:</b> First Class</p>
                        <p style="font-size: medium"><b>Board:</b> Aurangabad Divisional Board</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>*@