@{
    ViewData["Title"] = "Experience";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<section id="banner" class="banner">
    <div class="">

        <div class="banner-logo text-center"
             style="max-height: 100px;">
            <img src="/images/work3.jpg" style="height: 300px; width: 70%">
        </div>
    </div>
</section>
<section class="section-padding" style="margin-top: 200px;">
    
    <div class="row" style="margin: 0">
        <div class="col-md-12 text-center">
            <h4>
                To work in a an organization where I can use my skills and knowledge to deliver value
                added results as well as further enhance my learning and develop my career in IT Industry.
            </h4>
            <hr/>
        </div>
    </div>
</section>

<section id="about" class="section-padding">
    <div class="container-fluid">
        <div class="row" style="margin: 0">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                    <h2 class="lg-line">Klingelnberg India Pvt. Ltd.</h2>
                    <hr class="botm-line">
                    <p class="sec-para">Since December 2017 till the date.</p>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div style="visibility: visible; width: 100%" class="col-sm-9">

                    <div>
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="more-features-box-text-description">
                            <h3>Flank Analysis Library</h3>
                            <p style="text-align: justify">
                                <h4>Environment	: CLR, C#.Net, ASP.Net Core, Web API, .Net Standard, Docker Container</h4>
                                Flank analysis library is basically used for analyzing the manufactured
                                flank with the help different set of points on the flank. This is cross platform library which can be used on any OS platform.

                            </p>
                        </div>
                    </div>

                    <div class="">
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="more-features-box-text-description">
                            <h3>Neutral Data Library</h3>
                            <p class="text-justify">
                                <h4>Environment : CLR, C#.Net, .Net Core, .Net Standard, Visual Studio 2017 </h4>
                                This library is basically used for reading and writing the neutral data files which is present with different structures.
                                This is cross platform library which can be used on any OS platform.

                            </p>
                        </div>
                    </div>
                    <div class="">
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="more-features-box-text-description">
                            <h3>KOMET Application</h3>
                            <p class="text-justify" style="text-align: justify">
                                <h4>Environment : C, C++, CLR, C#.Net, .Net Core, .Net Standard, Visual Studio 2017</h4>
                                KOMET5 is used in bevel gear gearing and face type coupling production to calculate corrections for machine settings
                                and/or tool data in order to reduce variations between nominal and actual geometry. Once program- and data-specific parameters
                                have been configured, KOMET5 is a fully automatic, intuitive correction program. The correction calculation is based on the gearing
                                and process design in neutral data (alternatively, master gear data) format and the nominal data generated based on these data.
                                Calculated corrections are made available to the production machine via a network or portable media.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <hr class="footer-line"/>

        <div class="row" style="margin: 0">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                    <h2 class="lg-line">Evolveware Technologies India Pvt. Ltd.</h2>
                    <hr class="botm-line">
                    <p class="sec-para">March 2016 - Dec 2017</p>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div style="visibility: visible; width: 100%" class="col-sm-9">

                    <div class="">
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="more-features-box-text-description">
                            <h3>Intellisys 1.0</h3>
                            <p class="text-justify">
                                <h4>Environment	: C#.Net, Asp.Net, Bootstrap, AngularJS, VS 2015, MS-SQL Server 2008 R2</h4>
                                The Intellisys Platform is the ‘must-have’ platform to aid organizations as they navigate their application portfolio
                                through the life cycle of maintenance (documentation and impact analysis), rationalization (business rules extraction),
                                optimization (code re-structuring) and modernization (migration to COTS products or modern languages). 
                                This platform leads to substantial increases in productivity, making maintenance, rationalization, optimization 
                                and modernization much more reliable and cost effective.

                            </p>
                        </div>
                    </div>

                    <div class="">
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="more-features-box-text-description">
                            <h3>S2T_ModernizationConsole</h3>
                            <p class="text-justify">
                                <h4>Environment	: C#.Net, Asp.net, XML, Visual studio 2010/2015, MS-SQL Server 2008 R2</h4>
                                it is a web application, which takes xml as input generated by LR tool, and generates artifacts 
                                like Source System Diagram, Data Flow Diagram, program flow, flow chart. It also migrate the extracted input from one language to other.

                            </p>
                        </div>
                    </div>
                    <div class="">
                        <div class="more-features-box-text-icon">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </div>
                        <div class="more-features-box-text-description">
                            <h3>Legacy Rejuvenator</h3>
                            <p class="text-justify">
                                <h4>Environment : C#.Net, XML, Visual studio 2010/2015, MS-SQL Server 2008 R2</h4>
                                It is a windows based application which take input of other selected 19 languages 
                                and convert that input in xml format with separation of program logic, business rules. 
                                It also create and maintain database of this extracted input in different tables.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>