@{
    ViewData["Title"] = "Experience";
}

<section id="banner" class="banner">
    <div class="">

        <div class="banner-logo text-center"
             style="max-height: 100px;">
            <img src="/images/work3.jpg" style="max-height: 300px; width: 70%">
        </div>
    </div>
</section>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br /><br /><br /><br /><br />
<h1>Coming Soon...</h1>