@{
    ViewData["Title"] = "Technology";
}


<section id="banner" class="banner">
    <div class="">

        <div class="banner-logo text-center"
             style="max-height: 100px;">
            <img src="/images/technology.jpg" style="max-height: 450px; width: 100%">
        </div>
        <div class="banner-text text-center">
            <h1>Technology</h1>
            <h4>Technology on which we are worked on</h4>
        </div>
    </div>
</section>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br /><br /><br /><br /><br/>
<h1>Coming Soon...</h1>